.LoginLogout-box {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  animation: fadeIn 2s;
}
.LoginLogout-form {
  width: 23rem;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 9px;
}
.LoginLogout-text {
}
.LoginLogout-text h1 {
}
.LoginLogout-text p {
}
.LoginLogout-input {
  display: flex;
  flex-direction: column;

  gap: 35px;
}
.LoginLogout-input input {
  border: none;
  border-bottom: 1px solid #aa127a;
  padding: 10px;
  outline: none;
  font-size: 16px;
  width: 100%;
  background: transparent;
  color: #2e0249;
}
.LoginLogout-buttonBox {
  padding-top: 10px;
}
.LoginLogout-buttonBox button {
  background-color: #aa127a;
  width: fit-content;
  border: none;
  padding: 12px 35px;
  font-size: 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.LoginLogout-buttonBox button:hover {
  transition: 0.5s ease-in;
  background-color: rgb(150, 18, 108);
}

.checkAccount {
  font-size: 14px;
}
.innerCheckAccount {
  color: #aa127a;
  cursor: pointer;
  font-weight: 600;
}
/*******************  Logout********************/
.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  justify-content: center;
}

.logout-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logout-box h2 {
}
.logout-box p {
  text-align: center;
  color: gray;
  padding: 15px 0px 25px 0px;
}
.logout-btn {
  display: flex;
  gap: 5px;
}
.logout-btn1 {
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: #ededed;
}
.logout-btn1 a {
  text-decoration: none;
  color: #aa127a;
  width: 100%;
  height: 100%;
}

.logout-btn1:hover {
  transition: 0.5s ease-in;
  background-color: rgb(150, 18, 108);
  color: white;
}
.logout-btn2 {
  padding: 10px 15px;
  background-color: #aa127a;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.logout-btn2:hover {
  transition: 0.5s ease-in;
  background-color: rgb(150, 18, 108);
}
