header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #2e0249;
}
.nav-logo {
  width: 8rem;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  position: relative;
  color: #aa127a;
}
header ul li a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #aa127a;
  transition: width 1s ease;
}

header ul li a:hover::after {
  width: 100%;
}

.hidden-logout {
  position: absolute;
}
.top-h {
  font-size: max(2.3vw, 18px);
  font-weight: 700;
}
