.quill-box22 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.quill-button {
  background-color: #aa127a;
  border: none;
  padding: 12px 35px;
  font-size: 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}
.quill-button:hover {
  transition: 0.5s ease-in;
  background-color: rgb(150, 18, 108);
}
.TextEditors {
}
.TextEditors-inner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.quill {
  width: 95%;
  border: 1px solid #aa127a;
  color: #aa127a;
  min-height: 60vh;
}
.ql-toolbar.ql-snow {
  border: 1px solid #aa127a !important;
  height: 30%;
}
.ql-container.ql-snow {
  border: 1px solid #aa127a !important;
  border-top: none !important;
  min-height: calc(60vh - 42px);
}
